<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gvliksistem.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D4A14012A724ED100A7815C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D4A14122A724ED200A7815C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D4A141C2A724ED200A7815C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
